<!DOCTYPE html>
<html>




    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Fictional Birthdays</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand mb-0 " >Fictional Birthdays
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search Birthdays</button>
    </form>
  </div>
</nav>
        <h1>{{content}}</h1>
        {% block content %}
        <p><b>Age: <br>Birthday: </b></p>












        {% endblock %}
<!-- Footer -->
<footer class="page-footer font-small unique-color">
    <div class="container-fluid">

<div class="footer fixed-bottom">


<div style="background-color: #007bff;"

  <!-- Footer Links -->
  <div class="container-fluid text-white text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-3 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Fictional Birthdays</h5>
        <p>Find fictional characters who share your birthdate.</p>

      </div>
      <!-- Grid column -->

      

      <!-- Grid column -->
      <div class="col-md-3 mb-md-3 mb-3">

        
        

    

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-3 mb-3">

        
        

    

      </div>
      <!-- Grid column -->
      <div class="col-md-3 mt-md-3 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Menu</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="/">Home</a>
          </li>
          <li>
            <a class="text-white" href="/about">About</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-9">© 2020 Copyright:
    <a class="text-white" href="https://fictionalbirthdays.com/"> fictionalbirthdays.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

        <script
            src="
            https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="
            https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous"></script>
    </body>
</html>